.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: stretch;
}

body{
    margin: 0px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.row{
    justify-content: center;
    align-items: center;
}
.card{
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    max-width: 400px;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.61);
    color: black;
    transition: 0.5s ease-in-out;
    padding: 2em;
    margin-left: auto;
    left: auto;
    right: auto;
}

.card:hover{
    background: rgba(28, 28, 28, 0.961);
    transition: 0.5s ease-in-out;
    color: white;
}

.card-image{
    transition: 0.5s ease-in-out;
}

.card-image:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    opacity: 80%;
    border-radius: 15px;
    padding: 1em;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 0;
}

.container{
    margin-bottom: 0;
}

#myBtn{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(65, 65, 65); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 12px; /* Some padding */
    border-radius: 15px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
}

#myBtn:hover {
    background-color: rgb(255, 70, 70); /* Add a dark-grey background on hover */
    transition: 2s ease-in-out;
  }

.suggestions{
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    top: 35%;
    position: absolute;
    background: rgba(85, 85, 85, 0.333);
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 25px;
    padding-top: 0;
    color: #555;
    transition: 0.5s ease-in-out;
}

.movies{
    color: rgb(204, 0, 255);
}

@media  only screen and (max-width : 768px) {
    .suggestions {
        font-family: 'Open Sans', sans-serif;
        margin: 5px;
        top: 35%;
        position: absolute;
        background: rgba(85, 85, 85, 0.333);
        box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        padding: 25px;
        padding-top: 0;
        color: #555;
        transform: scale(0.5);
        left: -60px;
        transition: 0.5s ease-in-out;
        top: 35px;
    }
}

.suggestions:hover{
    background: rgb(85, 85, 85);
    transition: 0.5s ease-in-out;
    color: rgb(217, 217, 217);
}

.movies:hover{
    color: orange;
    transform: scale(1.2);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: rgb(204, 0, 255);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
  .loader2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden2 {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader2::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: rgb(204, 0, 255);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading2 {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }